body{
    background-color: rgb(228, 220, 210);
    
}

nav{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(177, 209, 214);


}

ul{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    
    
}
li a:hover{
    
    text-transform: capitalize;
    color:red;
    font-size: 24px;
    text-decoration: none;
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #154fbb;
    transition: 0.7s;
    
    
}
h1{
    margin:auto;
  width: 10%;
  
  padding: 10px;
  text-align: center;
  height: 50%;
}
h2{
    margin:auto;
  width: 40%;
  
  padding: 10px;
  text-align: center;
  height: 50%;}

  p{
    margin: auto;
  width: 40%;
  padding: 10px;
  text-align: center;
  height: 30%;
  font-size: 20px;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  ol li{
    text-transform: uppercase;
    font-size: 20px;

  }
  th{
    text-decoration: underline;
  }
  