*::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100PX;
    --mark-size: calc(var(--cell-size) * .9);
}

body{
    margin: 0;
}

.board {
    width: 75vw;
    height: 75vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    padding: none;
    border-style: dotted;
    
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    align-content: center;
    
    cursor: pointer;

    
    
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-style: solid;
    border-top-color: rgb(209, 37, 7);
    border-top-width: 5px;
}

.cell:nth-child(3n + 1) {
    border-style: solid;
    border-left-color: rgb(209, 37, 7);
    border-left-width: 5px;
}

.cell:nth-child(3n + 3) {
    border-style: solid;
    border-right-color: rgb(209, 37, 7);
    border-right-width: 5px;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-style: solid;
    border-bottom-color: rgb(209, 37, 7);
    border-bottom-width: 5px;
}


.cell.x,
.cell.circle {
    cursor: not-allowed;
}


.cell.x{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCjWHubFuQqlBZefFtnthiouqj592I2mLS6z1awOw&s);
    background-position: center;
    background-size: contain;
    
}

.cell.cell.circle{
    background-image: url(https://content.sportslogos.net/logos/6/234/full/utah_jazz_logo_primary_19973688.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}


.winning-message {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
    align-items: center;
    justify-content: center;


}
.winning-message button:hover{
    background-color: black;
    color: white;
    border-color: white;
    ;
}
.winning-message.show {
    display: flex;
}

.col{
    display: flex;
    
}
.headerbox{
    display: flex;
    justify-self: center;
    

}
.col{
    display: flex;
    justify-content: center;
}
body{
    color: black;
}